package view_pages

import "github.com/fbriansyah/pg-tools/internal/view/components"
import "github.com/fbriansyah/pg-tools/internal/view/layouts"

templ VirtualAccountPage() {
  @view_layouts.AppLayout("Virtual Account", view_layouts.LayoutMeta{Slug: "virtual-account"}){
    <div class="mb-8">
      @view_components.Title("Virtual Account")
    </div>
  }
}